name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: tmux-contrib/tmux-aws
          path: .tmux-aws
      - uses: bats-core/bats-action@4.0.0
        with:
          paths: tests/
